<h1>Rechteck, Polygon und Punkt</h1>

<img src="{{ asset('bundles/stadtbundle/image/rpp_button.png') }}" alt="rpp_button" title="rpp_button">
<br>
<p>Mit den Werkzeugen Rechteck, Polygon und Punkt kann man bestimmte Bereiche oder Punkte auf der Karte markieren. Diese definierten Bereiche werden automatisch in dem Fenster des <a href="{{ path('mapbender_help_subcategory', {'category': 'benutzeroberflaeche', 'subcategory': 'werkzeugleiste', 'page': 'suche'}) }}">Suchwerkzeuges</a> geöffnet und angezeigt.</p> 
<h3>Rechtecke, Polygone und Punkte markieren</h3> <p>Bei dem Punkt reicht ein Klick auf den gewünschten Ort auf der Karte. 
Bei dem Rechteck wird durch Klicken und gedrückt halten bis zum gewünschten Ausschnitt ein Rechteck auf der Karte erzeugt.</p>
<img src="{{ asset('bundles/stadtbundle/image/polygon.png') }}" alt="polygon" title="polygon"> 
<p>Bei dem Polygon kann man durch setzen verschiedener Punkte einen individuellen Bereich kennzeichnen und durch Doppelklick bei dem letzten Punkt dieses vervollständigen. Danach wird automatisch die <a href="{{ path('mapbender_help_subcategory', {'category': 'benutzeroberflaeche', 'subcategory': 'werkzeugleiste', 'page': 'suche'}) }}">Suche</a> aktiviert.
<br><br>
<img src="{{ asset('bundles/stadtbundle/image/polygon_suche.png') }}" alt="polygon_suche" title="polygon_suche">
<br><br>
</p>

