<h1>Suche</h1>
<p>Das in der Steuertafel eingebundene Suchwerkzeug dient der effizienten und schnellen Suche von Straßen und Liegenschaften in Monheim am Rhein. <br>Dabei können die Parameter Straße und Hausnummer in jeweilige Suchfelder eingegeben werden. <br> Das Feld "Straße" ist hier als Pflichtangabe gekennzeichnet und muss gefüllt werden.  
<br></p>
<img src="{{ asset('bundles/stadtbundle/image/suche_monheim.png') }}" title="Suche" alt="suche"/>

<h3>Suchergebnisse</h3>
<p>
Durch einen Klick auf den Button "Suchen" werden nach Eingabe einer Straße oder Adresse eins oder mehrere Ergebnisse tabellarisch aufgeführt und in der Karte angezeigt. <br>Bei mehreren Ergebnissen kann das gewünschte Ergebnis durch einen Klick auf die entsprechende Tabellenzeile in der Karte markiert werden. <br>Der Button "Zurücksetzen" leert die Suchergebnisse, sodass eine neue Suche gestartet werden kann.
<br></p>
<!--<br>
Unter dem Tab Suchparameter kann man sich eine <a href="{{ path('mapbender_help_subcategory', {'category': 'benutzeroberflaeche', 'subcategory': 'werkzeugleiste', 'page': 'rechteckpolygonundpunkt'}) }}">Geometrie</a> auswählen und einen Bereich auf der Karte markieren. 
<br><br><img src="{{ asset('bundles/mapbenderhelp/images/suchparameter_geometrie.png') }}" title="Suchparameter Geometrieauswahl" alt="suchparameter_geometrie"/><br><br>
Nach der Auswahl eines gewünschten Bereichs oder ohne Auswahl eines solchen kann man vorgegebene Parametern definieren und damit gezielt nach bestimmten Ergebnissen suchen. <br> Wenn die Vermessungsschrift ID, Rissnummer, Antrragsnummer oder das Fortführungsjahr bekannt sind kann man diese eingeben.  
Dazu kommt die Eingabe eines Datums über die Tastatur bzw. Klick auf das Kalendersymbol. Bei der Dokumentart und Gültigkeit kann man festgelegte Parameter auswählen.<br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/suche_suchparameter.png') }}" title="Suchparameter" alt="suche_suchparameter"/><br>
<br>

<h3>Ergebnisse</h3>
<br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/suchergebnisse.png') }}" title="Suchergebnisse" alt="Suchergebnisse"/><br><br>

Unter dem Tab Ergebnisse kann man sich die Ergebnisse der vordefinierten Suche nach Parametern oder Geometrie anzeigen lassen.<br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/ergebniss_sortierung.png') }}" title="Sortierung der Ergebnisse" alt="ergebniss_sortierung"/><br><br>
Dabei kann man die Liste durch Klicken auf die Pfeile rechts von den Spaltenamen nach den einzelnen Attributen, wie Gemarkungsname, Flur und Vermessungsschrift ID entweder auf- oder abwärts sortieren. <br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/filter.png') }}" title="Filter der Suchergebnisse" alt="filter"/><br><br>
Oberhalb der Liste kann man zwischen den Listenseiten wechseln und einen Filter setzen, wie z.B. „Tarnow“ wenn dieser als Gemarkungsname gesucht ist.<br>
Rechts davon kann man mit Auswahl des jeweiligen Kästchens eine Mindestanforderung der Geometrie wählen, diese geht von sehr gut (grün) über mittel (gelb) bis schlecht (rot).<br><br>
 <img src="{{ asset('bundles/mapbenderhelp/images/ergebnisse_dd.png') }}" title="Suchergebnisse downloaden" alt="Downloadspalte"/>
<br><br>
In der Ergebnisliste kann man links einen Button klicken, damit mehr Informationen aufgeklappt werden, hier ist auch ein direkter Button zum Download und eine kleine Ansicht des Dokuments.<br><br>
 <img src="{{ asset('bundles/mapbenderhelp/images/downloadspalte.png') }}" title="Suchergebnisse downloaden" alt="Downloadspalte"/><br><br>
Wenn mehrere Dokumente heruntergeladen werden sollen kann man am rechten Ende der Tabelle unter der Spalte Download klicken sodas ein „D“ erscheint. Dieses Dokument liegt jetzt unter dem Tab Download. 

<br><br>
<h3>Download</h3>
<br>Unter dem Tab Download werden alle ausgewählten Ergebnisse aufgelistet. Diese können nun mit Klick auf den Button Download herunterladen und auf ihrem Rechner entpackt werden.<br>
<br><img src="{{ asset('bundles/mapbenderhelp/images/download_button.png') }}" title="Download" alt="download_button"/>
<br><br>
Wenn man „Alle löschen“ auwählt wird die gesammte Liste gelöscht, durch Klicken auf ein einzelnes Dokument kann dieses auuch seperat aus der Liste gelöscht werden.<br><br>
<img src="{{ asset('bundles/mapbenderhelp/images/löschen.png') }}" title="markierte Ergebnisse löschen" alt="löschen"/>
<br><br>
</p>-->
