<h1>Zoomwerkzeuge</h1>

<img style="float:left; margin-right: 20px;" src="{{ asset('bundles/mapbenderhelp/images/lupe.png') }}" title="Lupe" alt="Lupe"/>
<p>Mit Hilfe des Lupensymbols ist es m&ouml;glich, die Karte zu vergr&ouml;&szlig;ern. Die Funktion wird durch ein einfaches Klicken auf das Symbol aktiviert. Durch einen anschlie&szlig;enden  Klick mit der linken Maustaste auf den Kartenausschnitt wird der angezeigte Ma&szlig;stab um eine Zoomstufe vergr&ouml;&szlig;ert. Wird die linke Maustaste gedr&uuml;ckt gehalten, kann ein Rechteck mit dem gew&uuml;nschten Kartenausschnitt gew&auml;hlt werden. Nach einmaligem Benutzen ist die Funktion wieder deaktiviert<br><br>

<img style="float:left; margin-right: 20px;" src="{{ asset('bundles/mapbenderhelp/images/weltkugel.png') }}" title="Weltkugel" alt="Weltkugel"/>
Durch einen Klick mit der linken Maustaste auf das Symbol in Form einer Weltkugel, wird die Gesamtansicht der Karte herbeigef&uuml;hrt.
<br>
<br>
<img style="float:left; margin-right: 20px;" src="{{ asset('bundles/mapbenderhelp/images/pfeile.png') }}" title="Pfeilsymbole" alt="Pfeilsymbole"/>
Die Pfeilsymbole erm&ouml;glichen es, zwischen den vorher genutzten Zoomstufen hin und her zu navigieren. Durck Klick auf den linken Pfeil geht man auf die davor genutzte Zoomstufe, durch Klick auf den rechten Pfeil wieder zur&uuml;ck auf die aktuellere. <br><br>
<br>
<img style="float:left; margin-right: 20px;" src="{{ asset('bundles/mapbenderhelp/images/pfeilrichtung.png') }}" title="pfeilrichtung" alt="pfeilrichtung"/>
Durch Klicken auf die Pfeilrichtungen kann man den Kartenausschnitt in die gew&uuml;nschte Richtung verschieben.</br>
<br><br>
<h4>Weitere Zoomm&ouml;glichkeiten</h4>
<img style="float:left; margin-right: 20px;" src="{{ asset('bundles/mapbenderhelp/images/zoompunkte.png') }}" title="zoompunkte" alt="zoompunkte"/><br>
&Uuml;ber die Punkte k&ouml;nnen festgelegte Zoomstufen ausgew&auml;hlt werden.
</br>
Das Zoomen und Verschieben der Karte kann auch direkt mit Hilfe der Maus innerhalb der Karte erfolgen:<br><br>
H&auml;lt man die Shift-Taste gedr&uuml;ckt, so ist es m&ouml;glich, mit der Maus ein Rechteck in die Karte zu zeichnen. Der Kartenausschnitt wird auf diese Ausdehnung herangezoomt.<br><br>
Ein Doppelklick mit der linken Maustaste in die Karte bewirkt, dass sich der Kartenausschnitt um eine Zoomstufe vergr&ouml;&szlig;ert, wobei als zentraler Punkt der Punkt, auf den geklickt wurde, gew&auml;hlt wird.<br><br>
Wenn eine Maus mit Mausrad zur Verf&uuml;gung steht, k&ouml;nnen hiermit ebenfalls die Zoomstufe und die Position des Kartenausschnitts ge&auml;ndert werden. Je nachdem, in welche Richtung das Mausrad gedreht wird, wird der Kartenausschnitt entweder vergr&ouml;&szlig;ert oder verkleinert. An der Stelle, an der sich der Mauszeiger beim Drehen des Mausrades befindet, wird der neue Kartenmittelpunkt gew&auml;hlt. 
</p>
